        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background: #1B262C;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .film {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-top: 80px;
        }
        .heading {
            text-align: center;
            font-size: 36px;
            color: #DDE6ED;
            font-weight: 900;
            margin-bottom: 40px;
        }

        .card {
            background: #0F4C75;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
            box-sizing: border-box;
            padding:20px 20px;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .card-content {
            padding: 15px;
        }

        .judul {
            font-size: 24px;
            margin: 10px 0 5px;
            color: #DDE6ED;
            font-weight: 900;
        }

        .genre {
            font-size: 14px;
            color: #9DB2BF;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .deskripsi {
            font-size: 14px;
            margin-bottom: 10px;
            color: #DDE6ED;
            font-weight: 500;
        }

        .info {
            font-size: 13px;
            margin-bottom: 5px;
            color: #DDE6ED;
            font-weight: 500;
        }

        .button-container {
            text-align: center;
            margin-top: 30px;
        }

        .btn {
            background: #1B262C;
            color: DDE6ED;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 20px auto;
            transition: transform 0.3s ease;
        }
        .btn a{
            text-decoration: none;
        }

        .btn:hover {
            background: #0F4C75;
            transform: translateY(-5px);
        }